<section id="tips">
  <section id="welcome" class="side">
    <img class="background"
      src="https://firebasestorage.googleapis.com/v0/b/elocomunitario-fd550.appspot.com/o/images%2Fbg.png?alt=media&token=a3d749f5-4c98-4008-b535-a5918dce7601"
      alt="Logomarca elo comunitário">
    <h1>DICAS <strong>SOLIDÁRIAS</strong></h1>
  </section>
  <div class="title">
    <h2>Conheça dicas solidárias</h2>
    <p>Conheça dicas que auxiliam na realização de trabalhos comunitários</p>
  </div>
  <div class="galery-list person-list">
    
  </div>
</section>