<section id="home">
  <section id="welcome">
    <img class="background"
      src="https://firebasestorage.googleapis.com/v0/b/elocomunitario-fd550.appspot.com/o/images%2Fbg.png?alt=media&token=a3d749f5-4c98-4008-b535-a5918dce7601"
      alt="Logomarca elo comunitário">
    <img class="logo"
      src="https://firebasestorage.googleapis.com/v0/b/elocomunitario-fd550.appspot.com/o/images%2Flogomarca.svg?alt=media&token=0bd01f48-8186-4e18-aba8-e9b9bcc02243"
      alt="Logomarca elo comunitário">
  </section>
  <section id="tips">
    <div class="title">
      <h2>Dicas para ser solidário</h2>
      <p>Saiba como tirar do papel seu sonho de ajudar uma pessoa em situação de rua</p>
    </div>
    <div class="galery">
      <div class="limit">
        <div class="tip-cards"></div>
      </div>
      <button class="arrow arrow-left material-icons" onclick="slider('.tip-cards', '100%', '300%')" type="button">
        <span class="material-symbols-outlined">
          chevron_left
        </span>
      </button>
      <button class="arrow arrow-right material-icons" onclick="slider('.tip-cards', '-100%', '300%')" type="button">
        <span class="material-symbols-outlined">
          chevron_right
        </span>
      </button>
    </div>
    <div class="buttons">
      <a class="btn" href="/dicas">
        Conhecer outros
      </a>
    </div>
  </section>

  <section id="actions">
    <div class="title">
      <h2>Próximas ações</h2>
      <p>Encontre maneiras de ajudar pessoas em situação de rua</p>
    </div>
    <div class="galery">
      <div class="images">
        <ul class="actions-cards"></ul>
        <button class="arrow arrow-left material-icons" onclick="slider('.actions-cards', '100%', '300%')" type="button">
          <span class="material-symbols-outlined">
            chevron_left
          </span>
        </button>
        <button class="arrow arrow-right material-icons" onclick="slider('.actions-cards', '-100%', '300%')" type="button">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </button>
      </div>
      <article class="text">
        <ul class="actions-cards"></ul>
      </article>
    </div>
  </section>
  <section id="testimonials">
    <div class="title">
      <h2>Depoimentos</h2>
      <p>Conheça mais sobre nosso público</p>
    </div>
    <div class="galery">
      <div class="limit">
        <ul class="test-list"></ul>
      </div>      
      <button class="arrow arrow-left material-icons" onclick="slider('.test-list', '100%', '300%')" type="button">
        <span class="material-symbols-outlined">
          chevron_left
        </span>
      </button>
      <button class="arrow arrow-right material-icons" onclick="slider('.test-list', '-100%', '300%')" type="button">
        <span class="material-symbols-outlined">
          chevron_right
        </span>
      </button>
    </div>
  </section>
</section>