<section id="about">
    <section id="welcome" class="side">
      <img class="background"
        src="https://firebasestorage.googleapis.com/v0/b/elocomunitario-fd550.appspot.com/o/images%2Fbg.png?alt=media&token=a3d749f5-4c98-4008-b535-a5918dce7601"
        alt="Logomarca elo comunitário">
      <h1>SOBRE <strong>NÓS</strong></h1>
    </section>
    <div class="title">
      <h2>O que é Elo Comunitário?</h2>
      <p>Conheça mais sobre nós</p>
    </div>
    <div class="info">
        <h3>Sinopse</h3>
        <p>Todo ser humano possui compaixão dentro de si. Muitas vezes, porém, há uma dificuldade em utilizar esse sentimento em favor do próximo. É justamente nessa lacuna que surge o Elo Comunitário, site dedicado à materializar o interesse e boa vontade de indivíduos solidários a pessoas em situação de rua.</p>
        <img
            src="https://firebasestorage.googleapis.com/v0/b/elocomunitario-fd550.appspot.com/o/images%2Felocomunitario.jpg?alt=media&token=e4257b01-e7f7-44d5-9bf2-da3d75a9549b"
            alt="equipe elo comunitario">
        <div class="buttons">
            <a class="btn" target="_blank" href="https://www.instagram.com/elocomunitario_oficial/">
                @elocomunitario_oficial
            </a>
        </div>
    </div>
  </section>